<div class="main-div bg-light">
    <div class="container">
        <div class="row mx-auto justify-content-center py-5">
            <div class="col-12 p-0">
                <form >
                    <div class="row mx-auto">
                        <div class="col mx-auto bg-white overflow-hidden mainform-container p-0">
                            <div class="row mx-auto">
                                <div
                                    class="col-12 py-2 same_color bottom_shadow  d-flex align-items-center justify-content-center first-row">
                                    <i class="fa-solid ms-3 pointer arrow-icon   fa-arrow-left-long"
                                        [routerLink]="['/admin-panel/addNewsList']"></i>
                                    <h1 class="m-0 mx-auto d-flex align-items-center justify-content-center">
                                        <span class="me-2">Contact details Edit</span>
                                    </h1>
                                </div>
                                <div class="col-12 my-5">
                                    <div class="row mx-auto">
                                       
                                        <div class="col-12 mt-4 Category-div ">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-3">
                                                    <label class=" label-text">Address</label>
                                                    <!-- <span class="star me-2 text-danger">*</span> -->
                                                </div>
                                                <div class="col pe-0">
                                                    <input type="text" class="form-control" placeholder="Enter Address"
                                                        id="inputPassword" formControlName="title">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-4 Category-div ">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-3">
                                                    <label class=" label-text">E-mail </label>
                                                </div>
                                                <div class="col pe-0">
                                                    <input type="text" class="form-control"
                                                        placeholder="Enter E-mail " id="inputPassword"
                                                        formControlName="Subtitle">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-4 Category-div ">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-3">
                                                    <label class=" label-text">Phone</label>
                                                    <!-- <span class="star me-2 text-danger">*</span> -->
                                                </div>
                                                <div class="col pe-0">
                                                    <input type="text" 
                                                        class="form-control" placeholder="Enter Phone"
                                                        id="inputPassword" formControlName="engText">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-4 Category-div ">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-3">
                                                    <label class=" label-text">Fax</label>
                                                    <!-- <span class="star me-2 text-danger">*</span> -->
                                                </div>
                                                <div class="col pe-0">
                                                    <input type="text" 
                                                        class="form-control" placeholder="Enter Fax"
                                                        id="inputPassword" formControlName="engText">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-4 Category-div ">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-3">
                                                    <label class=" label-text">Websites</label>
                                                    <!-- <span class="star me-2 text-danger">*</span> -->
                                                </div>
                                                <div class="col pe-0">
                                                    <input type="text" 
                                                        class="form-control" placeholder="Enter Websites"
                                                        id="inputPassword" formControlName="engText">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ***loader work*** -->
                                
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
            
</div>