.Radius {
    border-radius: 1.5rem;
    // overflow: hidden;
}

.width {
    width: -webkit-fill-available;
}


.iframe_width {
    width: -webkit-fill-available;
    height: 19.4rem !important;
    border-radius: 15px !important;
}