.image_work {
    width: 15rem;
    height: 10rem;
}

.cross_icon {
    top: 4px;
    right: -4px;
    font-size: 23px;
    cursor: pointer;
}

.second_icon {
    top: -8px;
}

.ng-deep figure {
    border: 2px solid red!important;
}

 

