<div class="container-fluid bg-light py-5">
  <div class="container">
    <div class="row  bg-white  border border_radius">
      <div class="col-12  py-3">
        <h1 class="text-center mb-0 text-danger fw-bold">About us</h1>
      </div>
      <div class="col-12 border_line"></div>
      <div class="col-12 p-3 p-md-5">
        <div class="row">
          <div class="col-12 mb-3 contnt_fontSiz">
            <p class="m-0 ">It is ThePrinciple It's a digital channel. Which supports true
              independent, fair, and fearless journalism. ThePrinciple, Editor-in-Chief</p>
          </div>
          <div class="col-12 mb-3">
            <div class="row">
              <div class="col-4 col-md-2 contnt_fontSiz">
                Twitter :
              </div>
              <div class="col-8 break_work contnt_fontSiz">
                <a [href]="aboutdata?.twitter" class="text-decoration-none" target="_blank">{{aboutdata?.twitter}}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-4 col-md-2 contnt_fontSiz">
                Facebook :
              </div>
              <div class="col-8 break_work contnt_fontSiz">
                <a [href]="aboutdata?.facebook" class="text-decoration-none" target="_blank">{{aboutdata?.facebook}}</a>
              </div>
            </div>
          </div>
          <div class="col-12 contnt_fontSiz">
            <p class="m-0 ">
              ThePrinciple is the online avatar of ThePrinciple Its motto is “Courageous
              Journalism of truth and Values”. The is Hindi digital News Channels and Hindi , English Newspaper.
            </p>
          </div>
          <div class="col-12 contnt_fontSiz">
            <p class="m-0 ">
              Catching early trends and pursuing them, in spite of the then popular opinion being to
              contrary, has helped ThePrinciple get noticed in the cluttered landscape and win the
              trust of viewers.
            </p>
          </div>
          <div class="col-12 contnt_fontSiz mb-3">
            <p class="m-0"><span class="fw-bold">About</span> ThePrinciple</p>
          </div>
          <div class="col-12 contnt_fontSiz mb-3">
            <p class="m-0 fw-bold">Our Vision</p>
            <p class="m-0">To empower people through information and influence lives positively…
            </p>
          </div>
          <div class="col-12 contnt_fontSiz mb-3">
            <p class="m-0 fw-bold">Our Values</p>
            <p class="m-0">To practice integrity by acting and taking decisions in a manner that is fair and
              honest, while being Independent and Courageous Journalism. To respect all internal and
              external stakeholders while listening to multiplicity of voices and value cultural diversity
              and differences. To grow profitably, consistently, ethically & honestly.
            </p>
          </div>
          <div class="col-12 contnt_fontSiz mb-3">
            <p class="m-0 fw-bold">Environmental Sustainability</p>
            <p class="m-0">To grow profitably, consistently, ethically & honestly.
            </p>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-4 col-md-2 contnt_fontSiz fw-bold">Contact us :</div>
              <div class="col-8 contnt_fontSiz">
                <a class="text-decoration-none" href="tel:{{aboutdata?.phone}}">{{aboutdata?.phone}}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-4 col-md-2 contnt_fontSiz fw-bold">Editor :</div>
              <div class="col-8  contnt_fontSiz">
                <span class="">{{aboutdata?.editor}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-4 col-md-2 contnt_fontSiz fw-bold">Email :</div>
              <div class="col-8 break_work contnt_fontSiz">
                <p class="m-0"><a class=" m-0 text-decoration-none" target="_blank"
                    href="mailto:{{aboutdata?.email}}">{{aboutdata?.email}} </a>
                  ,
                </p>
                <p class="m-0"><a class="m-0 text-decoration-none" target="_blank"
                    href="mailto:{{aboutdata?.email1}}">{{aboutdata?.email1}} </a>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-4 col-md-2 contnt_fontSiz fw-bold">Twitter :</div>
              <div class="col-8 break_work contnt_fontSiz">
                <a [href]="aboutdata?.twitter" target="_blank" class=""
                  class="text-decoration-none">{{aboutdata?.twitter}}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-4 col-md-2 contnt_fontSiz fw-bold">Facebook :</div>
              <div class="col-8 break_work contnt_fontSiz">
                <a [href]="aboutdata?.facebook" target="_blank"
                  class="p-0  text-decoration-none">{{aboutdata?.facebook}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>