<div class="container-fluid bg-light">
    <div class="container px-0 py-5">

        <div class="row mx-auto bg-white border p-md-4">
            <div class="col-12">
                <h2 class="pagehd text-center pt-2">Contact Us</h2>
                <div class="line-div mx-auto">
                </div>
            </div>
            <div class="col-12">
                <div class=" cmspage contact_us pt-md-5">
                    <h3 class="text-danger text-center mt-2 mb-4"> (ThePrinciple)</h3>
                    <div class="row">
                        <div class="col-12">
                            <div class="row mb-2" *ngIf="contactdata?.offersirName">
                                <div class="col-md-4 col-5">
                                    <p class="m-0 label d-flex font_size text-capitalize">Editor
                                        <span class="ms-auto">:</span>
                                    </p>
                                </div>
                                <div class="col">
                                    <p class="m-0 font_size text-capitalize">{{contactdata?.offersirName}}
                                    </p>
                                </div>
                            </div>
                            <div class="row mb-2" *ngIf="contactdata?.addressContact">
                                <div class="col-md-4 col-5">
                                    <p class="m-0 font_size d-flex text-capitalize">Contact No. & address
                                        <span class="ms-auto">:</span>
                                    </p>
                                </div>
                                <div class="col">
                                    <p class="m-0 font_size text-capitalize">{{contactdata?.addressContact}}
                                    </p>
                                </div>
                            </div>
                            <div class="row mb-2" *ngIf="contactdata?.Residentials1">
                                <div class="col-md-4 col-5">
                                    <p class="m-0 font_size d-flex text-capitalize">official Address
                                        <span class="ms-auto">:</span>
                                    </p>
                                </div>
                                <div class="col">
                                    <p class="m-0 font_size text-capitalize">{{contactdata?.Residentials1}}
                                    </p>
                                </div>
                            </div>
                            <div class="row mb-2" *ngIf="contactdata?.Residentials2">
                                <div class="col-md-4 col-5">
                                    <p class="m-0 font_size d-flex text-capitalize">Residentials Address
                                        <span class="ms-auto">:</span>
                                    </p>
                                </div>
                                <div class="col">
                                    <p class="m-0 font_size text-capitalize">{{contactdata?.Residentials2}}
                                    </p>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-4 col-5">
                                    <p class="m-0 d-flex font_size text-capitalize">
                                        <span> <i class="bi bi-envelope-fill same_img me-2"></i> E-mail</span>
                                        <span class="ms-auto">:</span>
                                    </p>
                                </div>
                                <div class="col-7 break_work">
                                    <p class="m-0 font_size  text-capitalize"><a target="_blank"
                                            class="text-decoration-none"
                                            href="mailto:{{contactdata?.email}}">{{contactdata?.email}}</a>,
                                    </p>
                                    <p class="m-0 font_size  text-capitalize">
                                        <a class="text-decoration-none break_class"
                                            href="mailto:{{contactdata?.email1}}"
                                            target="_blank">{{contactdata?.email1}}</a>
                                    </p>
                                </div>
                            </div>
                            <div class="row mb-2" *ngIf="contactdata?.phone">
                                <div class="col-md-4 col-5">
                                    <p class="m-0 d-flex font_size text-capitalize">
                                        <span> <i class="bi bi-telephone-fill same_img me-2"></i>Phone</span>
                                        <span class="ms-auto">:</span>
                                    </p>
                                </div>
                                <div class="col">
                                    <p class="m-0 font_size text-capitalize"><a class="text-decoration-none"
                                            href="tel:{{contactdata?.phone}}">{{contactdata?.phone}}</a>
                                    </p>
                                </div>
                            </div>
                            <div class="row mb-2" *ngIf="contactdata?.Website">
                                <div class="col-md-4 col-5">
                                    <p class="m-0 d-flex font_size text-capitalize">
                                        <span> <i class="bi bi-globe  same_img me-2"></i>Websites</span>
                                        <span class="ms-auto">:</span>
                                    </p>
                                </div>
                                <div class="col-7 break_work">
                                    <p class="m-0 font_size text-capitalize"><a class="text-decoration-none"
                                            target="_blank" [href]="contactdata?.Website">{{contactdata?.Website}}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>