pagehd {
    font: 700 24px/24px Roboto Condensed, sans-serifs;
    font-size: 45px;
    line-height: 46px;
}

.same_img {
    width: 25px;
}

.cmspage h3,
.smallh1 {
    font: 700 20px/24px Roboto Condensed, sans-serifs;
    font-size: 24px;
    line-height: 36px;
}

.addinfo {
    font-size: 19px;
    font-weight: 700;
    line-height: 36px;
}

.backimg {
    background-image: url('../../assets/images/rm218batch4-mynt-23_1.jpg');
    background-size: cover;
    height: 39rem;
    color: white;
}

.line-div {
    border: 2px solid blue;
    width: 14rem;
}

.bg-white {
    border-radius: 10px;
}

.font_size {
    font-size: 1.3rem;
    font-weight: bold;
}

.break_work {
    overflow-wrap: break-word;
}

@media (max-width: 768px) {
    .font_size {
        // font-size: 11px;
        font-weight: bold;
        font-size: 0.88rem;
    }

    ::ng-deep .break_class a {
        overflow-wrap: break-word !important;
    }

    .pagehd {
        font-size: 35px;
    }
}