<section class="Footer py-4 bg-dark">
  <div class="container">
    <div class="row my-5">
      <div class="col-12 footer_btm">
        <div class="row pt-2">
          <div class="col-md-3 col-6">
            <h1 class="footer_head text-danger fw-bold">States</h1>
            <ul class="list-unstyled pt-3">
              <li  *ngFor="let NationalData of NationalCat" (click)="sendId(NationalData?.name)"
                [routerLink]="['/category-news/', NationalData?.category|filter,NationalData?.name|filter]" class="mb-3 text-capitalize"
                (click)="toppositon()">
                {{ NationalData?.name }}
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-6">
            <h1 class="footer_head text-danger fw-bold">Categories</h1>
            <ul class="list-unstyled pt-3 ">
              <li class="mb-3 text-capitalize" (click)="toppositon()" *ngFor="
                  let categoryData of categoryArray?.slice(0,9);
                  let i = index
                " aria-current="page" [title]="categoryData?.categoryName"
                [routerLink]="['/category-news/', categoryData?.categoryName|filter]">
                {{ categoryData?.categoryName }}
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-6">
            <h1 class="footer_head text-danger fw-bold">Quick Links</h1>
            <ul class="list-unstyled pt-3">
              <li [routerLink]="['/aboutus']" (click)="toppositon()" class="mb-3 text-capitalize">
                About Us
              </li>
              <li [routerLink]="['/contactus']" (click)="toppositon()" class="mb-3 text-capitalize">
                Contact Us
              </li>
              <li [routerLink]="['/privacy']" (click)="toppositon()" class="mb-3 text-capitalize">
                Privacy Policy
              </li>
              <li [routerLink]="['/termandcondition']" (click)="toppositon()" class="mb-3 text-capitalize">
                Terms and Conditions
              </li>
              <li [routerLink]="['/complaint']" (click)="toppositon()" class="mb-3 text-capitalize">
                Complaint Form
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-12 pt-3 footer_text">
            Read the latest breaking Hindi and English news on The Principle. Get
            live Hindi and English news about India and the World from politics, sports,
            bollywood business, cities, lifestyle, astrology, spirituality, jobs
            and much more. Register with The Principle to get all the
            latest Hindi news updates as they happen. The Principle to get
            all the latest Hindi news updates as they happen. The Principle
            to get all the latest Hindi news updates as they happen.
          </div>
        </div>
      </div>
      <div class="col-12 mt-3 bg-dark">
        <div class="row">
          <div class="col-md-9 col-12 btm_text_footer">
            <span [routerLink]="['/aboutus']" (click)="toppositon()">
              About Us |</span>
            <span [routerLink]="['/contactus']" (click)="toppositon()">Contact Us</span>
            |
            <span [routerLink]="['/privacy']" (click)="toppositon()">
              Privacy Policy
            </span>
            |
            <span [routerLink]="['/termandcondition']" (click)="toppositon()">Terms and Conditions</span>
          </div>
          <div class="col-md-3 col-12 copy_right text-center text-md-end">
            © 2022 The Principle
          </div>
        </div>
      </div>
    </div>
  </div>
</section>