.width {
  width: -webkit-fill-available;
}

.height {
  height: -webkit-fill-available;
}

.navbar {
  background-color: #f3c376;
}

.search_icon {
  width: 20px;
}

.card-body {
  cursor: pointer;
}

.btm-nav {
  background-color: #e5e5e5;
}

.input-outine {
  outline: none;
}

// .vertical_imgs {
//   border: 2px solid red;
//   top: 0;
//   right: -79px;
// }
.lft_adavtisement {
  width: 37.5rem;
}

p {
  font-size: 16px;
}

.video_player {
  width: 37.5rem;
}

.card {
  height: auto;
  width: auto;
  border-radius: 15px;
}

.card_head {
  color: #ffa81d;
  font-size: 21px;
  font-weight: 500;

  p {
    font-size: 16px;
  }
}

.tittle {
  font-size: 19px;
  cursor: pointer;
}

p {
  cursor: pointer;
  font-weight: 300;
}

// .section_two {
//     img {
//         width: 81rem;
//         height: 9rem;
//     }
// }

.Unorder-list {
  list-style: none;
  cursor: pointer;
}

.tittlessports {
  font-size: 16px;
}

.Order-list li a {
  color: #aaa;

  font-size: 16px;
}

.Order-list>li+li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/";
}

.Unorder-list li {
  color: #a1a1a1;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0 1px;
}

.heading_text {
  font-size: 27px;
  color: #f40000;
}

// .shadow_card {
//     border-radius: 15px;
// }

.lifestyle_imgs {
  width: 15rem;
}

.footer_btm {
  border-bottom: 2px solid black;
}

.footer_head {
  font-size: 17px;
}

ul li {
  color: #747474;
}

.footer_text {
  color: #747474;
}

.shadow_card {
  img {
    width: 153px;
    height: 123px;
  }
}

.cursor_pointer {
  cursor: pointer;
}

.input-group {
  border-radius: 15px;
  border: 1px solid black;
  overflow: hidden;
}

.btm_text_footer {
  font-size: 19px;
}

.copy_right {
  color: #747474;
  font-size: 19px;
}

.single_img {
  width: 37rem;
  height: 21rem;
}

.shadow_card {
  border-radius: 10px;

  img {
    border-radius: 10px;
  }
}

.circcle_img {
  // width: 37.5rem;
  width: -webkit-fill-available;
}

p {
  font-size: 16px;
}

.video_player {
  width: 37.5rem;
}

.card {
  height: auto;
  width: auto;
  border-radius: 15px;
}

.card_head {
  color: #ffa81d;
  font-size: 21px;
  font-weight: 500;

  p {
    font-size: 16px;
  }
}

.news_paraText {
  width: 24rem;
}

.title_heigth {
  line-height: 25px;
  height: 4.5rem;
}

.tittle {
  font-size: 19px;
  cursor: pointer;
}

p {
  cursor: pointer;
  font-weight: 300;
}

// .section_two {
//     img {
//         width: 81rem;
//         height: 9rem;
//     }
// }

.Unorder-list {
  list-style: none;
  cursor: pointer;
}

.tittlessports {
  font-size: 16px;
}

.Order-list li a {
  color: #aaa;

  font-size: 16px;
}

.Order-list>li+li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/";
}

.Unorder-list li {
  color: #a1a1a1;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0 1px;
}

.heading_text {
  font-size: 27px;
}

// .shadow_card {
//     border-radius: 15px;
// }

.lifestyle_imgs {
  width: 15rem;
}

.footer_btm {
  border-bottom: 2px solid black;
}

.footer_head {
  font-size: 17px;
}

ul li {
  color: #747474;
}

.footer_text {
  color: #747474;
}

.shadow_card {
  img {
    width: 183px;
    height: 133px;
  }
}

.cursor_pointer {
  cursor: pointer;
}

.input-group {
  border-radius: 15px;
  border: 1px solid black;
  overflow: hidden;
}

.btm_text_footer {
  font-size: 19px;
}

.copy_right {
  color: #747474;
  font-size: 19px;
}

.single_img {
  // width: 37rem;
  width: -webkit-fill-available;
  height: 21rem;
}

.shadow_card {
  border-radius: 10px;

  img {
    border-radius: 10px;
  }
}

.circcle_img {
  img {
    border-radius: 10px;
  }
}

.single_imgmarquee {
  width: 4rem;
  height: 3rem;
}


.right-img img {
  // width: 13rem;
  width: -webkit-fill-available;
  height: 8rem;
}

.input-div {
  input {
    width: 10rem;
  }
}

.right_single {
  width: 37rem !important;
  height: 13rem !important;
}

.iframe-width {
  width: -webkit-fill-available;
  height: 23rem;
  border-radius: 15px;
}

@media (min-width: 1200px) and (max-width: 1366px) {
  .single_img {
    width: 32rem;
    height: 21rem;
  }
}

.width_loop {
  width: 132px;
}

.ads_images {
  border: 2px soild red;
  width: -webkit-fill-available;
  height: 10rem;
}

//     cursor: pointer;
// }

::selection {
  color: #fff;
  background: #7d2ae8;
}

.view-modal,
.popup {
  position: absolute;
  left: 50%;
}

button {
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  border: 2px solid transparent;
  transition: background 0.1s linear, border-color 0.1s linear,
    color 0.1s linear;
}

.view-modal {
  top: 50%;
  color: #7d2ae8;
  font-size: 18px;
  padding: 10px 25px;
  background: #fff;
  transform: translate(-50%, -50%);
}

.popup {
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  top: -150%;
  max-width: 380px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%) scale(1.2);
  transition: top 0s 0.2s ease-in-out, opacity 0.2s 0s ease-in-out,
    transform 0.2s 0s ease-in-out;
}

.popup.show {
  top: 50%;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0s 0s ease-in-out, opacity 0.2s 0s ease-in-out,
    transform 0.2s 0s ease-in-out;
}

.popup :is(header, .icons, .field) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup header {
  padding-bottom: 15px;
  border-bottom: 1px solid #ebedf9;
}

header span {
  font-size: 21px;
  font-weight: 600;
}

header .close,
.icons a {
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  padding: 7.5px 11px;
  transition: all 0.3s ease-in-out;
}

header .close {
  color: #878787;
  font-size: 17px;
  background: #f2f3fb;
  height: 33px;
  width: 33px;
  cursor: pointer;
}

header .close:hover {
  background: #ebedf9;
}

.popup .content {
  margin: 20px 0;
}

.popup .icons {
  margin: 15px 0 20px 0;
}

.content p {
  font-size: 16px;
}

.content .icons a {
  height: 50px;
  width: 50px;
  font-size: 20px;
  text-decoration: none;
  border: 1px solid transparent;
}

.icons a i {
  transition: transform 0.3s ease-in-out;
}

.icons a:nth-child(1) {
  color: #1877f2;
  border-color: #b7d4fb;
}

.icons a:nth-child(1):hover {
  background: #1877f2;
}

.icons a:nth-child(2) {
  color: #46c1f6;
  border-color: #b6e7fc;
}

.icons a:nth-child(2):hover {
  background: #46c1f6;
}

.icons a:nth-child(3) {
  color: #e1306c;
  border-color: #f5bccf;
}

.icons a:nth-child(3):hover {
  background: #e1306c;
}

.icons a:nth-child(4) {
  color: #25d366;
  border-color: #bef4d2;
}

.icons a:nth-child(4):hover {
  background: #25d366;
}

.icons a:nth-child(5) {
  color: #0088cc;
  border-color: #b3e6ff;
}

.icons a:nth-child(5):hover {
  background: #0088cc;
}

.icons a:hover {
  color: #fff;
  border-color: transparent;
}

.icons a:hover i {
  transform: scale(1.2);
}

.content .field {
  margin: 12px 0 -5px 0;
  height: 45px;
  border-radius: 4px;
  padding: 0 5px;
  border: 1px solid #e1e1e1;
}

.field.active {
  border-color: #7d2ae8;
}

.field i {
  width: 50px;
  font-size: 18px;
  text-align: center;
}

.field.active i {
  color: #7d2ae8;
}

.field input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 15px;
}

.field button {
  color: #fff;
  padding: 5px 18px;
  background: #7d2ae8;
}

.field button:hover {
  background: #8d39fa;
}

.icons {
  font-size: 34px;
}

.limitTextHeight {
  height: 2px;
  overflow: hidden;
}

.marque-section {
  cursor: pointer;
}

::ng-deep .news_div {
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
  }
}

.videoadds {
  border: 2px solid #ccc6c6;
}

.image_size {
  width: 38rem;
}

@media (max-width: 768px) {
  .image_size {
    width: 21.2rem;
  }

  .circcle_img {
    width: -webkit-fill-available !important;
  }

  .shadow_card img {
    width: -webkit-fill-available !important;
  }

  .news_paraText {
    width: -webkit-fill-available !important;
  }

  .title_heigth {
    // height: 3.3rem;
  }

  .anchor_work {
    height: -webkit-fill-available !important;
  }

  .heading_text {
    font-size: 20px;
  }

  .single_img {
    width: -webkit-fill-available !important;
  }

  .right-img img {
    width: -webkit-fill-available !important;
    height: 13.5rem !important;
  }

  .shadow_card img {
    height: 160px !important;
  }
}

::ng-deep.tittle {
  margin: 0;
}

.anchor_work {
  height: 11.7rem;

  .video_size {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: black;
  }
}

.loader_work {
  height: 20rem;

  .spinner-border {
    width: 12rem;
    height: 12rem;
    // border: 1.2em solid ##dc3545!important;
    border-right-color: transparent;
  }
}